# Quản lý sinh viên

In [1]:
import pandas as pd
import numpy as np

# Fake dữ liệu

In [2]:
df_data = pd.DataFrame([
        [1801,'Nguyen Van Minh','Nam','Bac Lieu',50,85],
        [1802,'Nguyen Van Binh','Nam','Ca Mau',78,95],
        [1803,'Nguyen Van Cong','Nam','Long An',80,100],
        [1804,'Nguyen Thi Van','Nam','Bac Lieu',94,67],
        [1805,'Truong Minh Vien','Nam','Soc Trang',95,85],
        [1806,'Tran Thi Nhu Hoa','Nu','Ca Mau',100,84],
        [1807,'Ngo Thi Minh An','Nu','Bac Lieu',67,100],
       ],columns=list("ABCDEF"))

# Tính trung bình

In [4]:
# df_data['TrungBinh'] = (df_data['E'] + df_data['F'])/2
# df_data

# Lưu file

In [5]:
# # Lưu file csv
# df_data.to_csv('Danhsachsinhvien.csv')
# data = pd.read_csv('Danhsachsinhvien.csv',encoding='utf-8', header=None, sep=',')
# data

In [17]:
#Option 1: Thêm thông tin học viên
def add(MS,HoTen,GioiTinh,Tinh,LT,TH):
    i = len(df_data)-1
    i+=1
    data = df_data.append(pd.DataFrame([[MS, HoTen,GioiTinh,Tinh,LT,TH]],columns = list('ABCDEF'),index = [i]))
    print("Danh sách học viên sau khi thêm")
    print(data)
    print("---------------------------------------------------------------------")

In [7]:
# add(1909,"Nguyen","Nam","BL",90,99)

In [8]:
df_data

      A                 B    C          D    E    F
0  1801   Nguyen Van Minh  Nam   Bac Lieu   50   85
1  1802   Nguyen Van Binh  Nam     Ca Mau   78   95
2  1803   Nguyen Van Cong  Nam    Long An   80  100
3  1804    Nguyen Thi Van  Nam   Bac Lieu   94   67
4  1805  Truong Minh Vien  Nam  Soc Trang   95   85
5  1806  Tran Thi Nhu Hoa   Nu     Ca Mau  100   84
6  1807   Ngo Thi Minh An   Nu   Bac Lieu   67  100

In [9]:
# Option 2: Cập nhập thông tin học viên.
def update(x,y,chars):
    df_data.iloc[x,y] = chars

In [10]:
# Option 3: Hiển thị danh sách tất cả học viên
def show():
    print("Danh sách tất cả học viên")
    print(df_data)
    print("----------------------------------------------")

In [11]:
#Option 4: sinh viên thi đỗ
def good():
    print("Danh sách sinh viên thi đỗ (Điểm trung bình >= 75)")
    print(df_data[df_data['TrungBinh'] >= 75])
    print("----------------------------------------------")

In [12]:
#Option 5: Sinh viên thi rớt
def faild():
    print("Danh sách sinh viên thi trượt(Điểm trung bình < 75)")
    print(df_data[df_data['TrungBinh'] < 75])
    print("----------------------------------------------")

In [13]:
#Option 6: XÓa thông tin học viên
def drop(index):
    df_data = df_data.drop([index])
    print(df_data)
    print("-----------------------------------------------------------------")    
#   return choice_option

In [14]:
def exit():
    while True:
        print("Chương trình kết thúc")
        print("----------------------------------------------")
        break

In [15]:
def choice_option():
    print("""\t  Mời bạn lựa chọn các chức năng sau: 
            1. Thêm thông tin học viên vào bộ nhớ.
            2. Cập nhập thông tin học viên
            3. Hiển thị danh sách tất cả học viên
            4. Hiển thị danh sách học viên thi đỗ(Mean >= 57)
            5. Hiển thị danh sách học viên thi trượt(Mean < 75)
            6. Xóa thông tin sinh viên
            7. Thoát chương trình.\t""")
    while True:
        try:
            option = (int(input("\t\tLựa chọn của bạn: ")))
            if 1 <= option <= 7:
                return option
                continue
            else:
                print("Bạn chỉ được lưa chọn từ 1 đến 7!!\n")
        except ValueError:
            print("Con số bạn lựa chọn nằm ngoài phạm vi. Try again\n")

In [19]:
if __name__ == '__main__':
    option = choice_option()
    if option == 1:
        MS,HoTen,GioiTinh,Tinh,LT,TH =  map(str, input('Mời bạn nhập MS, HoTen, GioiTinh, Tinh, LT, TH: ').split(","))
        
        add(MS,HoTen,GioiTinh,Tinh,LT,TH)

    elif option == 2:
        x, y = map(int, input("Mời bạn nhập vào vị trí index và chuỗi thay thế: x(hàng), y(cột) -->").split(","))
        char = input("Nhập vào chuỗi thay thế")
        update(x,y,char)
        print("Thông tin sau khi được cập nhập \n", df_data)
        print("----------------------------------------------")
    elif option == 3:
        show()
        
    elif option == 4:
        df_data['TrungBinh'] = (df_data['E'] + df_data['F'])/2
        good()
        
    elif option == 5:
        df_data['TrungBinh'] = (df_data['E'] + df_data['F'])/2
        faild()
    elif option == 6:
        index = int(input("Nhập vị trí index cần xóa: "))
        drop(index)
        
    elif option == 7:
        exit()

	  Mời bạn lựa chọn các chức năng sau:
            1. Thêm thông tin học viên vào bộ nhớ.
            2. Cập nhập thông tin học viên
            3. Hiển thị danh sách tất cả học viên
            4. Hiển thị danh sách học viên thi đỗ(Mean >= 57)
            5. Hiển thị danh sách học viên thi trượt(Mean < 75)
            6. Xóa thông tin sinh viên
            7. Thoát chương trình.
		Lựa chọn của bạn: 2
Mời bạn nhập vào vị trí index và chuỗi thay thế: x(hàng), y(cột) -->2,3
Nhập vào chuỗi thay thếLâm Đồng
Thông tin sau khi được cập nhập
       A                 B    C          D    E    F
0  1801   Nguyen Van Minh  Nam   Bac Lieu   50   85
1  1802   Nguyen Van Binh  Nam     Ca Mau   78   95
2  1803   Nguyen Van Cong  Nam   Lâm Đồng   80  100
3  1804    Nguyen Thi Van  Nam   Bac Lieu   94   67
4  1805  Truong Minh Vien  Nam  Soc Trang   95   85
5  1806  Tran Thi Nhu Hoa   Nu     Ca Mau  100   84
6  1807   Ngo Thi Minh An   Nu   Bac Lieu   67  100
----------------------------------------------

In [20]:
df_data

      A                 B    C          D    E    F
0  1801   Nguyen Van Minh  Nam   Bac Lieu   50   85
1  1802   Nguyen Van Binh  Nam     Ca Mau   78   95
2  1803   Nguyen Van Cong  Nam   Lâm Đồng   80  100
3  1804    Nguyen Thi Van  Nam   Bac Lieu   94   67
4  1805  Truong Minh Vien  Nam  Soc Trang   95   85
5  1806  Tran Thi Nhu Hoa   Nu     Ca Mau  100   84
6  1807   Ngo Thi Minh An   Nu   Bac Lieu   67  100